/*SEARCH*/

/*.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.g-brd-secondary-light-v2 {
    border-color: #e0e4ea !important;
}

.g-color-secondary-dark-v1 {
    color: #858993;
}

@media (min-width: 0)
.g-py-12 {
    padding-top: 0.85714rem !important;
    padding-bottom: 0.85714rem !important;
}

@media (min-width: 0)
.g-px-20 {
    padding-left: 1.42857rem !important;
    padding-right: 1.42857rem !important;
}

.g-font-weight-400 {
    font-weight: 400 !important;
}

.g-font-size-13 {
    font-size: 0.92857rem !important;
}

.g-bg-white {
    background-color: #fff !important;
}
.form-control, .form-control:focus {
    color: #2c2f37;
}
.form-control {
    border-color: #ccc;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

*/

.NormalTextBox {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    width: 300px !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-top: 0.85714rem !important;
    padding-bottom: 0.85714rem !important;
    padding-left: 1.42857rem !important;
    padding-right: 1.42857rem !important;
}


/*.dnnModuleDialog {
    width: 646px;
    overflow-x: hidden;
    position: absolute;
    left: 40% !important;
    top: 30% !important;
    border: 1px solid red;
    font-family: RobotoSlab,arial;
    z-index: 1115 !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}*/